.event-container {
  @include flexmix(4);
  @include flexdirection(column);
  padding: 10px;
  background-color: orange;
  overflow-y: auto;
}

@media screen and (max-width: 800px) {
  .event-container {
    @include flexmix(3);
  }
}