.event-container {
  @include flexmix(4, 0, 0);
  @include flexdirection(column);
  padding: 10px;
  background-color: $event-container-bg-color;
  overflow-y: auto;
  border-top-right-radius: 10px;
}

/*re-adjust flex for smaller displays*/
@media screen and (max-width: 800px) {
  .event-container {
    @include flexmix(3, 0, 0);
  }
}

@media screen and (max-width: 600px) {
  .event-container {
    border-top-right-radius: 0;
  }
}