.event-info {
  padding: 10px;
  @include flexbox;
  @include flexmix(1, 0, 0);
  text-align: center;
  background-color: $sidebar-bg-color;
  justify-content: center;

  .event-details {
    @include flexbox;
    @include flexdirection(column);

    img {
      align-self: center;
    }

    h1 {
      color: $sidebar-title-color;
      font-family: $sidebar-title-font;
      margin-bottom: 0;
    }

    h2 {
      color: $sidebar-type-color;
      font-family: $sidebar-type-font;
      margin: 0;
    }

    .desc-text {
      font-family: $sidebar-desc-font;
      color: $sidebar-desc-color;
      max-height: 40%;
      word-break: break-all;
      overflow-y: auto;
    }

    .tags {
      font-style: italic;
      margin-top: auto;
    }
  }

  .no-event {
    align-self: center;
    font-style: italic;
  }
}

/*hide unimportant information on small displays*/
@media screen and (max-width: 600px) {
  .event-info {
    .side-icon, .date-tag, .id-tag, h1, h2 {
      display: none;
    }
  }
}

