h1 {
  color: $title-color;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}

html,
body {
  height: 100%;
  margin: 0
}

.page {
  @include flexbox;
  flex-direction: column;
  height: 100vh;

  .header {
    flex: 0 1 auto;
    background-color: $header-bg-color;

    .page-title {
      display: inline-block;
      margin: 20px;
    }

    .create-btn {
      display: inline-block;
      padding-bottom: 20px;
    }
  }

  .flex-container {
    @include flexbox;
    flex: 1 2 auto;
    padding: 0;
    margin: 0;
  }
}

button {
  @include transition(0.3s);
  border: 2px solid $btn-border;
  border-radius: 6px;
  margin: 2px;
  background-color: $btn-color;
  height: 30px;
  width: 80px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  outline: none;
}

button:hover {
  background-color: $btn-hovered;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 15px 20px 0 rgba(0,0,0,0.19);
}
