/*make app use 100% of screen space for
cleaner look*/
html,
body {
  height: 100%;
  margin: 0;
  background-color: $header-bg-color;
}

.page {
  @include flexbox;
  @include flexdirection(column);
  height: 100vh;

  .header {
    @include flexmix(0, 1, auto);
    @include flexbox;
    background-color: $header-bg-color;
    align-items: center;

    .page-title {
      margin: 20px;
      color: $title-color;
      font-family: $title-font;
    }
  }

  .flex-container {
    @include flexbox;
    @include flexmix(1, 2, auto);
    padding: 0;
    margin: 0;
  }
}

/*implements responsive design, reorganizes components
when on smaller screen*/
@media screen and (max-width: 600px) {
  .flex-container {
    @include flexdirection(column);
  }
}

/*button styling here, button styles are kept consistent
throughout webpage*/
button {
  @include transition(0.3s);
  border: 2px solid $btn-border;
  border-radius: 4px;
  margin: 2px;
  background-color: $btn-color;
  height: 30px;
  width: 80px;
  color: $btn-text-color;
  font-family: $btn-text-font;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

button:hover:enabled {
  background-color: $btn-hovered;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 15px 20px 0 rgba(0,0,0,0.19);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
