/*simple mixins to add some browser compatibility*/
@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flexmix($grow, $shrink, $basis) {
  -webkit-flex: $grow $shrink $basis;
  -moz-flex: $grow $shrink $basis;
  flex: $grow $shrink $basis;
}

@mixin flexdirection($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin transition($duration...) {
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin loaderanimation {
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
}