.modal {
  @include flexbox;
  @include flexdirection(column);
  @include transition(0.5s);
  opacity: 0;
  align-items: center;
  justify-content: center;
  background-color: $modal-bg-color;
  outline: none;
  border: 2px solid $modal-border-color;
  border-radius: 10px;
  padding-bottom: 40px;
  margin: 0 20px 0 20px;

  h1 {
    color: $modal-title-color;
  }

  .close-modal-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
  }

  .close-modal-btn:hover {
    box-shadow: none;
  }
}

.modal_after-open {
  opacity: 1;
  transform: translateY(15px);
}

.event-form {
  text-align: center;

  input, textarea {
    padding: 5px;
    border-radius: 5px;
  }

  input, textarea, select {
    width: 300px;
  }

  textarea {
    height: 70px;
  }

  .form-field {
    margin: 5px 0 0 0;
  }

  .field-err {
    color: red;
    display: block;
  }
}