/*use this file to tweak style settings to your
personal preference*/

/*custom colors I found online and liked*/
$clean: #DFDCE3; /*greyish*/
$sunshine: #F7B733;
$evening: #262228;
$charcoal: #373737;
$teal: #E37222;
$paper: #F4F4F4;
$dusty: #96858F;
$less-dusty: #AD9FA7;
$lavender: #6D7993;
$overcast: #9099A2;
$void: #0E0B16;
$tangerine: #F19F4D;
$apricot: #F7882F;

/*COLORS*/

/*header*/
$title-color: $sunshine;
$header-bg-color: $dusty;

/*buttons*/
$btn-color: $apricot;
$btn-hovered: $tangerine;
$btn-border: $apricot;
$btn-text-color: $paper;

/*events*/
$event-container-bg-color: $paper;
$event-bg-color: $lavender;
$event-border: $charcoal;
$event-hovered: $clean;
$event-title-color: $evening;
$event-type-color: $charcoal;

/*sidebar*/
$sidebar-bg-color: $dusty;
$sidebar-details-bg-color: $less-dusty;
$sidebar-details-border-color: $charcoal;
$sidebar-title-color: $sunshine;
$sidebar-type-color: $tangerine;
$sidebar-desc-color: $evening;
$sidebar-tag-color: $charcoal;
$sidebar-none-text-color: $charcoal;

/*modal*/
$modal-bg-color: $paper;
$modal-border-color: $overcast;
$modal-title-color: $sunshine;

/*loader*/
$loader-color: $apricot;
$loader-bg-color: $sunshine;

/*FONTS*/

$title-font: arial;
$btn-text-font: arial;
$eventbox-title-font: arial;
$eventbox-type-font: arial;
$sidebar-title-font: arial;
$sidebar-type-font: arial;
$sidebar-desc-font: cursive;
