/*colors*/

/*header*/
$title-color: tomato;
$header-bg-color: red;

/*buttons*/
$btn-color: red;
$btn-hovered: blue;
$btn-border: darkgreen;

/*events*/
$event-color: green;
$event-border: black;
$event-hovered: blue;
$event-title-color: red;
$event-type-color: red;
