/*use this file to tweak style settings to your
personal preference*/

/*COLORS*/

/*header*/
$title-color: tomato;
$header-bg-color: red;

/*buttons*/
$btn-color: red;
$btn-hovered: blue;
$btn-border: darkgreen;

/*events*/
$event-color: green;
$event-border: black;
$event-hovered: blue;
$event-title-color: red;
$event-type-color: red;

/*sidebar*/
$sidebar-title-color: blue;
$sidebar-type-color: blue;
$sidebar-desc-color: blue;

/*FONTS*/
$sidebar-title-font: cursive;
$sidebar-type-font: cursive;
$sidebar-desc-font: cursive;